{% extends "WaldoOpenIdConnectAdminBundle::base.html.twig" %}

{% block pageTitle %}{% trans %}title.Client{% endtrans %}{% endblock pageTitle %}
{% block pageTitleSub %}{% trans %}label.Client_management{% endtrans %}{% endblock pageTitleSub %}


{% block content %}  

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans %}label.Client_ID{% endtrans %}</h3>
                </div>
                <div class="box-body">
                    {% if client.logoUri %}<img class="pull-right" src="{{ client.logoUri }}" alt="{% trans %}label.Client_logo{% endtrans %}" />{% endif %}
                    
                    <p><span class="param-label">{% trans %}label.Client_name{% endtrans %} :</span> <span class="param-value">{{ client.clientName }}</span></p>

                    <p><span class="param-label">{% trans %}label.Client_ID{% endtrans %} :</span> <span class="param-value">{{ client.clientID }}</span></p>

                    <p><span class="param-label">{% trans %}label.Client_URI{% endtrans %} :</span> <span class="param-value">{{ client.clientUri }}</span></p>

                    <p><span class="param-label">{% trans %}label.Issued_at{% endtrans %} :</span> <span class="param-value">{{ client.clientIdIssuedAt|localizeddate('full', 'medium') }}</span></p>

                    {% if client.tosUri %}
                    <p><span class="param-label">{% trans %}label.term_of_service{% endtrans %} :</span> <span class="param-value"><a href="{{ client.tosUri }}">{{ client.tosUri }}</a></span></p>
                    {% endif %}

                    {% if client.policyUri %}
                    <p><span class="param-label">{% trans %}label.Policy{% endtrans %} :</span> <span class="param-value"><a href="{{ client.policyUri }}">{{ client.policyUri }}</a></span></p>
                    {% endif %}
                    
                    <ul class="list-inline">
                        <li><span class="param-label">{% trans %}label.scopes{% endtrans %} :</span></li>
                        {% for scope in client.scope %}
                            <li><span class="param-value">{{ scope }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans %}label.Client_record{% endtrans %}</h3>
                </div>
                <div class="box-body">
                    
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#secret" role="tab" data-toggle="tab">{% trans %}label.Secret{% endtrans %}</a></li>
                            <li><a href="#uris" role="tab" data-toggle="tab">{% trans %}label.URIs{% endtrans %}</a></li>
                            <li><a href="#contact" role="tab" data-toggle="tab">{% trans %}label.Contacts{% endtrans %}</a></li>
                            <li><a href="#security" role="tab" data-toggle="tab">{% trans %}label.Security{% endtrans %}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="secret">
                                
                                <p><span class="param-label">{% trans %}label.Client_secret{% endtrans %} :</span> <span class="param-value">{{ client.clientSecret }}</span></p>

                                {% if client.clientSecretExpiresAt %}
                                    <p><span class="param-label">{% trans %}label.Client_secret_expires_at{% endtrans %} :</span> <span class="param-value">{{ client.clientSecretExpiresAt|localizeddate('full', 'medium') }}</span></p>
                                {% endif %}

                            </div>
                            <div class="tab-pane" id="uris">
                                <span class="param-label">{% trans %}label.redirect_URIs{% endtrans %} :</span>
                                <ul>                                   
                                    {% for uri in client.redirectUris %}
                                    <li><span class="param-value">{{ uri }}</span></li>
                                    {% endfor %}
                                </ul>

                                {% if client.postLogoutRedirectUri %}
                                    <p><span class="param-label">{% trans %}label.post_logout_redirect_URIs{% endtrans %} :</span> <span class="param-value">{{ client.postLogoutRedirectUri }}</span></p>
                                {% endif %}

                                {% if client.jwksUri %}
                                    <p><span class="param-label">{% trans %}label.jwks_URI{% endtrans %} :</span> <span class="param-value">{{ client.jwksUri }}</span></p>
                                {% endif %}

                                {% if client.jwkEncryptionUri %}
                                    <p><span class="param-label">{% trans %}label.jwks_encryption_URI{% endtrans %} :</span> <span class="param-value">{{ client.jwkEncryptionUri }}</span></p>
                                {% endif %}

                                {% if client.x509Uri %}
                                    <p><span class="param-label">{% trans %}label.X509_certificat_URI{% endtrans %} :</span> <span class="param-value">{{ client.x509Uri }}</span></p>
                                {% endif %}

                                {% if client.x509EncryptionUri %}
                                    <p><span class="param-label">{% trans %}label.X509_encryption_certificat_URI{% endtrans %} :</span> <span class="param-value">{{ client.x509EncryptionUri }}</span></p>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="contact">
                                <ul>
                                    {% for contact in client.contacts %}
                                        <li><span class="param-value">{{ contact }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane" id="security">
                                {% if client.tokenEndpointAuthMethod %}
                                    <p><span class="param-label">{% trans %}label.token_endpoint_authentication_method{% endtrans %} :</span> <span class="param-value">{{ client.tokenEndpointAuthMethod }}</span></p>
                                {% endif %}

                                {% if client.tokenEndpointAuthSigningAlg %}
                                    <p><span class="param-label">{% trans %}label.token_endpoint_authentication_signing_algorithm{% endtrans %} :</span> <span class="param-value">{{ client.tokenEndpointAuthMethod }}</span></p>
                                {% endif %}

                                {% if client.requestObjectSigningAlg %}
                                    <p><span class="param-label">{% trans %}label.request_object_signing_algorithm{% endtrans %} :</span> <span class="param-value">{{ client.requestObjectSigningAlg }}</span></p>
                                {% endif %}

                                {% if client.idTokenSignedResponseAlg %}
                                    <p><span class="param-label">{% trans %}label.id_token_signined_response_algorithm{% endtrans %} :</span> <span class="param-value">{{ client.idTokenSignedResponseAlg }}</span></p>
                                {% endif %}

                                {% if client.idTokenEncryptedResponseAlg %}
                                    <p><span class="param-label">{% trans %}label.id_token_encrypted_response_algorithm{% endtrans %} :</span> <span class="param-value">{{ client.idTokenEncryptedResponseAlg }}</span></p>
                                {% endif %}

                                {% if client.idTokenEncryptedResponseEnc %}
                                    <p><span class="param-label">{% trans %}label.id_token_encrypted_response_encoder{% endtrans %} :</span> <span class="param-value">{{ client.idTokenEncryptedResponseEnc }}</span></p>
                                {% endif %}

                                {% if client.userinfoSignedResponseAlg %}
                                    <p><span class="param-label">{% trans %}label.userinfo_object_signing_algorithm{% endtrans %} :</span> <span class="param-value">{{ client.userinfoSignedResponseAlg }}</span></p>
                                {% endif %}

                                {% if client.userinfoEncryptedResponseAlg %}
                                    <p><span class="param-label">{% trans %}label.userinfo_encrypted_response_algorithm{% endtrans %} :</span> <span class="param-value">{{ client.userinfoEncryptedResponseAlg }}</span></p>
                                {% endif %}

                                {% if client.userinfoEncryptedResponseEnc %}
                                    <p><span class="param-label">{% trans %}label.userinfo_encrypted_response_encoder{% endtrans %} :</span> <span class="param-value">{{ client.userinfoEncryptedResponseEnc }}</span></p>
                                {% endif %}

                                {% if client.defaultMaxAge %}
                                    <p><span class="param-label">{% trans %}label.default_max_age{% endtrans %} :</span> <span class="param-value">{{ client.defaultMaxAge }}</span></p>
                                {% endif %}

                                {% if client.requireAuthTime %}
                                    <p><span class="param-label">{% trans %}label.require_authentication_time{% endtrans %} :</span> <span class="param-value">{{ client.requireAuthTime }}</span></p>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

           

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">

</script>
{% endblock javascripts %}
