{% extends "WaldoOpenIdConnectAdminBundle::base.html.twig" %}

{% block pageTitle %}Enduser{% endblock pageTitle %}
{% block pageTitleSub %}Profil{% endblock pageTitleSub %}

{% block content %}  

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        {% trans %}Account{% endtrans %}
                        {% if account.enabled %}
                            <i class="text-green glyphicon glyphicon-check" title="{% trans %}Enabled{% endtrans %}"></i>
                        {% else %}
                            <i class="text-red glyphicon glyphicon-ban-circle" title="{% trans %}Disabled{% endtrans %}"></i>
                        {% endif %}
                    </h3>
                </div>
                <div class="box-body">
                    {% if account.picture %}<img class="pull-right" src="{{ account.picture }}" alt="{% trans %}Account picture{% endtrans %}" />{% endif %}

                    <p><span class="param-label">{% trans %}Username{% endtrans %} :</span> <span class="param-value">{{ account.username }}</span></p>

                    {% if account.email %}
                        <p>
                            <span class="param-label">{% trans %}Email{% endtrans %} :</span>
                            {% if account.emailVerified %}
                                <i class="text-green glyphicon glyphicon-check" title="{% trans %}Email verified{% endtrans %}"></i>
                            {% else %}
                                <i class="text-red glyphicon glyphicon-ban-circle" title="{% trans %}Email not verified{% endtrans %}"></i>
                            {% endif %}
                             <span class="param-value">{{ account.email }}</span>
                        </p>
                    {% endif %}

                    {% if account.lastLoginAt %}
                        <p><span class="param-label">{% trans %}Last login at{% endtrans %} :</span> <span class="param-value">{{ account.lastLoginAt|date() }}</span></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans %}User profile{% endtrans %}</h3>
                </div>
                <div class="box-body">        
                    <div class="box-body nav-tabs-custom">

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#profile" role="tab" data-toggle="tab">{% trans %}Profile{% endtrans %}</a></li>
                            <li><a href="#address" role="tab" data-toggle="tab">{% trans %}Address{% endtrans %}</a></li>
                            <li><a href="#applicationAccesslist" role="tab" data-toggle="tab">{% trans %}Application list{% endtrans %}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                    {% if account.name %}<p><span class="param-label">{% trans %}Name{% endtrans %} :</span> <span class="param-value">
                                        {{ account.name }}</span></p>{% endif %}

                                    {% if account.givenName %}<p><span class="param-label">{% trans %}First name{% endtrans %} :</span> <span class="param-value">
                                        {{ account.givenName }}</span></p>{% endif %}

                                    {% if account.familyName %}<p><span class="param-label">{% trans %}Last name{% endtrans %} :</span> <span class="param-value">
                                        {{ account.familyName }}</span></p>{% endif %}

                                    {% if account.middleName %}<p><span class="param-label">{% trans %}Middle name{% endtrans %} :</span> <span class="param-value">
                                        {{ account.middleName }}</span></p>{% endif %}

                                    {% if account.nickname %}<p><span class="param-label">{% trans %}Nickname, casual name{% endtrans %} :</span> <span class="param-value">
                                        {{ account.nickname }}</span></p>{% endif %}

                                    {% if account.preferedUsername %}<p><span class="param-label">{% trans %}Prefered username{% endtrans %} :</span> <span class="param-value">
                                        {{ account.preferedUsername }}</span></p>{% endif %}

                                    {% if account.profile %}<p><span class="param-label">{% trans %}Profile{% endtrans %} :</span> <span class="param-value">
                                        {{ account.profile }}</span></p>{% endif %}

                                    {% if account.website %}<p><span class="param-label">{% trans %}Web site{% endtrans %} :</span> <span class="param-value">
                                        {{ account.website }}</span></p>{% endif %}

                                    {% if account.gender %}<p><span class="param-label">{% trans %}Gender{% endtrans %} :</span> <span class="param-value">
                                        {{ account.gender }}</span></p>{% endif %}

                                    {% if account.birthdate %}<p><span class="param-label">{% trans %}birthdate{% endtrans %} :</span> <span class="param-value">
                                        {{ account.birthdate|date() }}</span></p>{% endif %}

                                    {% if account.zoneInfo %}<p><span class="param-label">{% trans %}Time zone{% endtrans %} :</span> <span class="param-value">
                                        {{ account.zoneInfo }}</span></p>{% endif %}

                                    {% if account.locale %}<p><span class="param-label">{% trans %}Locale{% endtrans %} :</span> <span class="param-value">
                                        {{ account.locale }}</span></p>{% endif %}


                                    {% if account.phoneNumber %}<p><span class="param-label">{% trans %}Telephone number{% endtrans %} :</span> <span class="param-value">
                                        {{ account.phoneNumber }}</span></p>{% endif %}


                            </div>

                            <div class="tab-pane" id="address">
                                {% if account.address %}

                                    {% if account.address.formatted %}<p><span class="param-label">{% trans %}Full mailing address{% endtrans %} :</span> <span class="param-value">
                                        {{ account.address.formatted|nl2br }}</span></p>{% endif %}

                                    {% if account.address.streetAddress %}<p><span class="param-label">{% trans %}Full street address{% endtrans %} :</span> <span class="param-value">
                                        {{ account.address.streetAddress }}</span></p>{% endif %}

                                    {% if account.address.locality %}<p><span class="param-label">{% trans %}City or locality{% endtrans %} :</span> <span class="param-value">
                                        {{ account.address.locality }}</span></p>{% endif %}

                                    {% if account.address.region %}<p><span class="param-label">{% trans %}State, province, prefecture, or region{% endtrans %} :</span> <span class="param-value">
                                        {{ account.address.region }}</span></p>{% endif %}

                                    {% if account.address.postalCode %}<p><span class="param-label">{% trans %}Zip code or postal code{% endtrans %} :</span> <span class="param-value">
                                        {{ account.address.postalCode }}</span></p>{% endif %}

                                    {% if account.address.country %}<p><span class="param-label">{% trans %}Country name{% endtrans %} :</span> <span class="param-value">
                                        {{ account.address.country }}</span></p>{% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </div>
                
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    if(window.location.hash) {
        $('a[href="' + window.location.hash + '"]').tab('show');
    } else {
        $('a[href="#account"]').tab('show');
    }
});
</script>
{% endblock %}
