<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OIC | Dashboard{% endblock title %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
        {% block stylesheets %}
            {% stylesheets '@bootstrap_css' '@admin_css' '@other_css' combine=true filter='cssembed, ?yui_css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}

        {# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
        {# WARNING: Respond.js doesn't work if you view the page via file:// #}
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        {% block modals %}{% endblock modals %}
        {# header logo: style can be found in header.less #}
        <header class="header">
            <a href="{{ path('oicp_admin_index') }}" class="logo">{% block applicationName %}OIC{% endblock applicationName %}</a>
            {# Header Navbar: style can be found in header.less #}
            <nav class="navbar navbar-static-top" role="navigation">
                {# Sidebar toggle button#}
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">{% trans %}label.toggle_navigation{% endtrans %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        {# User Account: style can be found in dropdown.less #}
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ app.user.username }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                {# User image #}
                                <li class="user-header bg-light-blue">
                                    {% if app.user.picture is not null %}
                                        <img src="{{ app.user.picture }}" class="img-circle" alt="{% trans %}label.account_picture{% endtrans %}" />
                                    {% endif %}
                                    <p>
                                        {{ app.user.username }}
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('oicp_admin_account_profile', {account:app.user.id}) }}" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" href="{% if is_granted('ROLE_PREVIOUS_ADMIN') %}?_switch_user=_exit{% else %}{{ path("logout") }}{% endif %}">
                                            <i class="glyphicon glyphicon-log-out"></i> {% if is_granted('ROLE_PREVIOUS_ADMIN') %}{% trans %}label.un_switch{% endtrans %}{% else %}{% trans %}label.logout{% endtrans %}{% endif %}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            {# Left side column. contains the logo and sidebar #}
            <aside class="left-side sidebar-offcanvas">                
                {# sidebar: style can be found in sidebar.less #}
                <section class="sidebar">
                    {# Sidebar user panel #}
                    <div class="user-panel">
                        {% if app.user.picture is not null %}
                            <div class="pull-left image">
                                <img src="{{ app.user.picture }}" class="img-circle" alt="{% trans %}label.toggle_navigation{% endtrans %}" />
                            </div>
                        {% endif %}
                        <div class="pull-left info">
                            <p>Hello, {{ app.user.username }}</p>
                        </div>
                    </div>

                    {{ knp_menu_render('WaldoOpenIdConnectAdminBundle:Builder:mainMenu',
                             {template: 'WaldoOpenIdConnectAdminBundle:Menu:knp_menu.html.twig'}) }}

                </section>
                {# /.sidebar #}
            </aside>

            {# Right side column. Contains the navbar and content of the page #}
            <aside class="right-side">                
                {# Content Header (Page header) #}
                <section class="content-header">
                    <h1>
                        {% block pageTitle %}pageTitle{% endblock pageTitle %}
                        <small>{% block pageTitleSub %}pageTitleSub{% endblock pageTitleSub %}</small>
                    </h1>

                    {{ cnerta_breadcrumb_render('WaldoOpenIdConnectAdminBundle:Builder:mainMenu',
                        {template: 'WaldoOpenIdConnectAdminBundle:Menu:breadcrumb.html.twig'}) }}
                </section>

                {# Main content #}
                <section class="content">
                    
                    {% block content %}{% endblock content %}

                </section>{# /.content #}
            </aside>{# /.right-side #}
        </div>{# ./wrapper #}

        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrap_js' '@admin_js' '@other_js' combine=true filter='?yui_js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
