{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}useragent.title.login{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <div class="auth-page">
        <div>
            <h1>{% trans %}main.title.welcome_login_page{% endtrans %}</h1>
            {% if client is null %}
                <h2>{% trans %}sub.title.sign_with_your_account_informations{% endtrans %}</h2>
            {% else %}
                {% if client.logoUri is not null %}
                    <img class="logo" src="{{ client.logoUri }}" alt="{% trans %}label.logo_of_application{% endtrans %}" />
                {% endif %}
                <h2>{% trans with {'%appname%': client.clientName} %}sub.title.sign_with_your_account_informations_for_client_application{% endtrans %}</h2>
                {% if client.tosUri is not null %}
                    <a href="{{ client.tosUri }}">
                        {% trans with {'%appname%': client.clientName} %}label.term_of_service_for_application{% endtrans %}
                    </a>
                {% endif %}
                {% if client.policyUri is not null %}
                    <a href="{{ client.policyUri }}">
                        {% trans with {'%appname%': client.clientName} %}label.policy_for_application{% endtrans %}
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <form class="form-signin" action="{{ path('login_check') }}{% if client is not null %}?client_id={{ client.clientId }}{% endif %}" method="post" role="form">            
            {% if user is not null %}
                <div class="user-profile">
                {% if user.picture is not null %}
                    <img class="user-picture" src="{{ user.picture }}" alt="{% trans %}label.account_picture{% endtrans %}" />
                {% endif %}
                    <span class="user-name">{{ user.username }}</span>
                    <span class="user-email">{{ user.email }}</span>
                </div>
                <input type="hidden" id="username" name="_username" value="{{ user.username }}" />
            {% else %}
            <input class="form-control" type="text" id="username" placeholder="{% trans %}label.username{% endtrans %}" name="_username" value="{{ last_username }}" />
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
            <input class="form-control" type="password" id="password" placeholder="{% trans %}label.password{% endtrans %}" name="_password" />
            
            {% if error %}
                <div class="alert alert-danger">{{ error.message|trans }}
                {% if error.message == "User account is disabled." %}
                    {% trans %}error.user_account_is_disabled{% endtrans %}
                {% endif %}
                </div>
            {% endif %}
            
            <br />
            
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="signin">{% trans %}label.sign_in{% endtrans %}</button>

        </form>
        <div class="actions-link">
            {% if user is not null %}
                <a class="logout" href="{{ path("logout") }}">{% trans %}label.sign_in_with_different_account{% endtrans %}</a>
            {% else %}
            <a href="{{ path("oicp_lost_account_search") }}">{% trans %}label.forgot_your_password{% endtrans %}</a>
            <a class="pull-right" href="{{ path("oicp_registration_new_account") }}">{% trans %}label.create_an_account{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endblock bodyContent %}
