{% extends "WaldoOpenIdConnectProviderBundle::base.html.twig" %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock title %}

{% block bodyContent %}
    {% if error %}
        <div>{{ error.message|trans }}</div>
    {% endif %}

    <div>
        <h1>{% trans %}Welcom to the OIC login page{% endtrans %}</h1>
        {% if client is null %}
            <h2>{% trans %}Sign in with your OIC account{% endtrans %}</h2>
        {% else %}
            <h2>{% trans with {'%appname%': client.clientName} %}%appname% required you to be authenticated{% endtrans %}</h2>
            {% if client.logoUri is not null %}
                <img src="{{ client.logoUri }}" alt="{% trans %}logo of application{% endtrans %}" />
            {% endif %}
            {% if client.tosUri is not null %}
                <a href="{{ client.tosUri }}">
                    {% trans with {'%appname%': client.clientName} %}Term of service for %appname%{% endtrans %}
                </a>
            {% endif %}
            {% if client.policyUri is not null %}
                <a href="{{ client.policyUri }}">
                    {% trans with {'%appname%': client.clientName} %}Policy %appname%{% endtrans %}
                </a>
            {% endif %}
        {% endif %}
    </div>

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">{% trans %}Username:{% endtrans %}</label>
        <input type="text" id="username" placeholder="Username" name="_username" value="{{ last_username }}" />

        <label for="password">{% trans %}Password:{% endtrans %}</label>
        <input type="password" id="password" placeholder="Password" name="_password" />

        <button type="submit" name="signin">Sign in</button>
    </form>

    <div>
        <a href="">{% trans %}Lost your account ?{% endtrans %}</a>
        <a href="{{ path("oicp_registration_new_account") }}">{% trans %}Create an account{% endtrans %}</a>
    </div>

{% endblock bodyContent %}
