{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}useragent.title.scope_approval{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <div class="auth-page">
        
        {% if client.logoUri is not null %}
            <img src="{{ client.logoUri }}" alt="{% trans %}label.logo_of_application{% endtrans %}" />
        {% endif %}
        <h2 {% if client.logoUri is not null %}class="logo-align"{% endif %}>{{ client.clientName }}</h2>
        
        <h3>{% trans %}sub.title.informations_claimed{% endtrans %}</h3>
        {% if userinfos.picture is defined and userinfos.picture is not null  %}
            <img class="pull-right" alt="{% trans %}label.account_picture{% endtrans %}" src="{{ userinfos.picture }}" />
        {% endif %}
        <ul class="claims">
            {% for key, info in userinfos %}
                {% if key != 'picture' and key != 'emailVerified' and key != 'phoneNumberVerified' %}
                    <li><span class="claim-name">{{ key|trans }} :</span> {% if key == 'updateAt' or key == 'birthdate' %}{{ info|date("m/d/Y") }}{% else %}{{ info }}{% endif %}</li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <br />
        
        {{ form_start(form) }}
            {{ form_row(form.cancel, {'attr' :{'class' : 'btn btn-warning'}}) }}
            {{ form_row(form.accept) }}
        {{ form_end(form) }}

    </div>
{% endblock bodyContent %}
