{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}label.find_your_account{% endtrans %}{% endblock title %}

{% block bodyContent %}
    <div class="auth-page">
        <h1>{% trans %}label.find_your_account{% endtrans %}</h1>

        {% if isFound is not null and isFound == false %}
            <div class="alert alert-danger" role="alert">
            {% trans %}label.sorry_we_can_not_found_your_account_with_the_given_username_or_email{% endtrans %}
            </div>
        {% endif %}    

        <form  name="oic_lost_account" method="post" action="{{ path('oicp_lost_account_search') }}" role="form">
        {{ form_row(form.username) }}
        {{ form_row(form.search) }}
        {{ form_row(form.cancel) }}
        {{ form_widget(form._token) }}
        {{ form_errors(form) }}
        </form>
    </div>
{% endblock bodyContent %}
