{% extends ":default:base.html.twig" %}

{% block title %}{% trans %}label.Register{% endtrans %}{% endblock title %}

{% macro has_errors(form) %}
    {% if form.vars.errors.count > 0 %}
 has-error 
    {% endif %}
{% endmacro %}


{% block bodyContent %}
    <div class="register-page">
        <h1>{% trans %}label.create_your_account{% endtrans %}</h1>

        {{ form_start(form, { 'style': 'horizontal' }) }}

        <p class="mandatory">{% trans %}label.all_fields_bellow_are_mandatory{% endtrans %}</p>
                        
        <div class="row">
            <div class="col-md-5">
                <div class="form-group {{ _self.has_errors(form.name) }}">
                    {{ form_widget(form.name, {attr:{placeholder:form.name.vars.label}}) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="col-md-offset-1 col-md-6">
                <div class="form-group {{ _self.has_errors(form.givenName) }}">
                    {{ form_widget(form.givenName, {attr:{placeholder:form.givenName.vars.label}}) }}
                    {{ form_errors(form.givenName) }}
                </div>
            </div>
        </div>

        <div class="form-group {{ _self.has_errors(form.email) }}">
            {{ form_widget(form.email, {attr:{placeholder:form.email.vars.label}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="form-group {{ _self.has_errors(form.password.first) }}">
            {{ form_widget(form.password.first, {attr:{placeholder:form.password.first.vars.label}}) }}
            {{ form_errors(form.password.first) }}
        </div>

        <div class="form-group {{ _self.has_errors(form.password.second) }}">
            {{ form_widget(form.password.second, {attr:{placeholder:form.password.second.vars.label}}) }}
            {{ form_errors(form.password.second) }}
        </div>
      
        <div class="form-group">
            {{ form_widget(form.save, {attr:{class:'btn-block'}}) }}
        </div>
        
        {{ form_end(form) }}

    </div>

{% endblock bodyContent %}
