{% extends "WaldoOpenIdConnectEnduserBundle:Account:index.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}label.change_password{% endtrans %}{% endblock title %}

{% block accountContent %}
    
    <h2>{% trans %}label.change_password{% endtrans %}</h2>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage|trans }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    <p class="mandatory">{% trans %}label.all_fields_marked_with_the_little_red_stars_are_mandatory{% endtrans %}</p>
    {{ form_row(form.currentpassword) }}
    {{ form_row(form.password) }}
    {{ form_end(form) }}
    
{% endblock accountContent %}
