{% extends ":default:enduser_base.html.twig" %}

{% block title %}{% trans %}title.your_account{% endtrans %}{% endblock title %}

{% macro is_active(route) %}
    {% if app.request.attributes.get('_route') == route %}active{% endif %}
{% endmacro %}

{% block bodyContent %}
    <div class="enduser-account-page">
        <div class="row">
            <div class="col-md-3">
                <nav>
                    {{ knp_menu_render('enduser.mainmenu',
                             {template: 'WaldoOpenIdConnectEnduserBundle:Menu:knp_menu.html.twig',
                              style: 'stacked-pills'}) }}
                </nav>
                    
            </div>

            <div class="col-md-9">
        {% block accountContent %}
        <h2>{% trans %}label.your_profile_data{% endtrans %}</h2>

        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#account" role="tab" data-toggle="tab">{% trans %}label.Account{% endtrans %}</a></li>
            <li><a href="#profile" role="tab" data-toggle="tab">{% trans %}label.Profile{% endtrans %}</a></li>
            <li><a href="#address" role="tab" data-toggle="tab">{% trans %}label.Address{% endtrans %}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="account">
                {% if app.user.picture %}<img class="pull-right" src="{{ app.user.picture }}" alt="{% trans %}label.account_picture{% endtrans %}" />{% endif %}
                <dl>
                    {#<dt>{% trans %}Username{% endtrans %}</dt>
                        <dd>{{ app.user.username }}</dd>#}


                    {% if app.user.email %}<dt>{% trans %}Email{% endtrans %}</dt>
                        <dd>{{ app.user.email }}</dd>{% endif %}


                    {% if app.user.lastLoginAt %}<dt>{% trans %}label.last_login_at{% endtrans %}</dt>
                        <dd>{{ app.user.lastLoginAt|date() }}</dd>{% endif %}
                </dl>
            </div>

            <div class="tab-pane" id="profile">
                <dl>
                    {% if app.user.name %}<dt>{% trans %}label.Name{% endtrans %}</dt>
                        <dd>{{ app.user.name }}</dd>{% endif %}

                    {% if app.user.givenName %}<dt>{% trans %}label.First_name{% endtrans %}</dt>
                        <dd>{{ app.user.givenName }}</dd>{% endif %}

                    {% if app.user.familyName %}<dt>{% trans %}label.Last_name{% endtrans %}</dt>
                        <dd>{{ app.user.familyName }}</dd>{% endif %}

                    {% if app.user.middleName %}<dt>{% trans %}label.Middle_name{% endtrans %}</dt>
                        <dd>{{ app.user.middleName }}</dd>{% endif %}

                    {% if app.user.nickname %}<dt>{% trans %}label.Nickname{% endtrans %}</dt>
                        <dd>{{ app.user.nickname }}</dd>{% endif %}

                    {% if app.user.preferedUsername %}<dt>{% trans %}label.Prefered_username{% endtrans %}</dt>
                        <dd>{{ app.user.preferedUsername }}</dd>{% endif %}

                    {% if app.user.profile %}<dt>{% trans %}label.Profile{% endtrans %}</dt>
                        <dd>{{ app.user.profile }}</dd>{% endif %}

                    {% if app.user.website %}<dt>{% trans %}label.Web_site{% endtrans %}</dt>
                        <dd>{{ app.user.website }}</dd>{% endif %}

                    {% if app.user.gender %}<dt>{% trans %}label.Gender{% endtrans %}</dt>
                        <dd>{{ app.user.gender }}</dd>{% endif %}

                    {% if app.user.birthdate %}<dt>{% trans %}label.Birthdate{% endtrans %}</dt>
                        <dd>{{ app.user.birthdate|date() }}</dd>{% endif %}

                    {% if app.user.zoneInfo %}<dt>{% trans %}label.Time_zone{% endtrans %}</dt>
                        <dd>{{ app.user.zoneInfo }}</dd>{% endif %}

                    {% if app.user.locale %}<dt>{% trans %}label.Locale{% endtrans %}</dt>
                        <dd>{{ app.user.locale }}</dd>{% endif %}

                    {% if app.user.phoneNumber %}<dt>{% trans %}label.Telephone_number{% endtrans %}</dt>
                        <dd>{{ app.user.phoneNumber }}</dd>{% endif %}

                </dl>
            </div>

            <div class="tab-pane" id="address">
                {% if app.user.address %}
                <dl>        
                    {% if app.user.address.formatted %}<dt>{% trans %}label.Full_mailing_address{% endtrans %}</dt>
                        <dd>{{ app.user.address.formatted|nl2br }}</dd>{% endif %}

                    {% if app.user.address.streetAddress %}<dt>{% trans %}label.Full_street_address{% endtrans %}</dt>
                        <dd>{{ app.user.address.streetAddress }}</dd>{% endif %}

                    {% if app.user.address.locality %}<dt>{% trans %}label.City_or_locality{% endtrans %}</dt>
                        <dd>{{ app.user.address.locality }}</dd>{% endif %}

                    {% if app.user.address.region %}<dt>{% trans %}label.State_province_prefecture_or_region{% endtrans %}</dt>
                        <dd>{{ app.user.address.region }}</dd>{% endif %}

                    {% if app.user.address.postalCode %}<dt>{% trans %}label.Zip_code_or_postal_code{% endtrans %}</dt>
                        <dd>{{ app.user.address.postalCode }}</dd>{% endif %}

                    {% if app.user.address.country %}<dt>{% trans %}label.Country_name{% endtrans %}</dt>
                        <dd>{{ app.user.address.country }}</dd>{% endif %}
                </dl>{% endif %}
            </div>
        </div>
            {% endblock accountContent %}

            </div>
        </div>
    </div>
{% endblock bodyContent %}
    
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    if(window.location.hash) {
        $('a[href="' + window.location.hash + '"]').tab('show');
    } else {
        $('a[href="#account"]').tab('show');
    }
});
</script>
{% endblock %}
    
